<div class="container-fluid" >
  <div class="row mapPageWrapper">
      <div class="map container panel-default col-md-7 col-sm-12 col-xs-12">
          <h2>Truck Map</h2>
          <ui-gmap-google-map center='map.center' zoom='map.zoom' fit=true scrollwheel=false class="col-md-12 col-sm-12 col-xs-12">
            <ui-gmap-marker model="marker" ng-repeat="marker in markers" coords="marker.coords" idkey="marker.idKey" options="marker.options">
              <ui-gmap-window isIconVisibleOnClick="true" coords="marker.coords">
                <div class="windowDetails">
                  <h6 class="windowDetailsHeader">{{marker.truckName}} | Time:{{marker.truckTime}}</h6>
                  <h6 class="windowDetailsHeader">{{marker.truckLocation}}</h6>
                  <img ng-src="{{marker.truckImage}}" alt="">
                  <a href="#/trucks/{{marker.truckId}}"> <h4>Truck Details</h4></a>
                </div>
             </ui-gmap-window>
            </ui-gmap-marker>
          </ui-gmap-google-map>
      </div>
      <div class="mapInfoWrapper panel-default container col-md-4 col-sm-12 col-xs-12">
        <div class="listWapper col-sm-6 col-md-12">
          <div class="headerWrapper">
            <h2 class="activeHeader">Active Trucks</h2>
          </div>
          <div class="activeTruckWrapper" >
            <accordion class="truckWrapper" ng-repeat="truck in activeTrucks">
              <accordion-group is-open="status.open">
                <accordion-heading>
                  <img ng-src="{{truck.truckImage}}"/>
                    {{truck.truckName}}<i class=" truckTitle pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>
                <ul>
                  <li class="truckMessage"> <h4>Tweet or Facebook status could go here!</h4> </li>
                  <li class="truckLocation"><h4 class="activeTruckHeaders">Location:</h4>{{truck.truckLocation.address}}</li>
                  <li class="truckTimes"><h4 class="activeTruckHeaders">Time:</h4> {{truck.truckTime}}</li>
                  <li class="truckDescription"><h4 class="activeTruckHeaders">Description:</h4> {{truck.truckDescription}}</li>
                  <a href="#/trucks/{{truck._id}}"><h6>View More</h6></a>
                </ul>
              </accordion-group>
            </accordion>
          </div>
        </div>
        <div class="listWrapper col-sm-6 col-md-12">
          <div class="headerWrapper">
            <h2 class="activeHeader">Inactive Trucks</h2>
          </div>
          <div class="activeTruckWrapper" >
            <accordion class="truckWrapper" ng-repeat="truck in inactiveTrucks">
              <accordion-group is-open="status.open">
                <accordion-heading>
                  <img ng-src="{{truck.truckImage}}"/>
                    {{truck.truckName}}<i class=" truckTitle pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>
                <ul>
                  <li class="truckMessage"> <h4>Tweet or Facebook status could go here!</h4> </li>
                  <li class="truckDescription"><h4 class="activeTruckHeaders">Description:</h4> {{truck.truckDescription}}</li>
                </ul>
              </accordion-group>
            </accordion>
          </div>
        </div>
      </div>
  </div>
  <div class="panel-body">
      <section class="container-fluid trucksContainer">
<!-- <truck-list ng-repeat="truck in trucks" truck="truck"></truck-list>-->
      <div class="panel-default trucksRow row col-md-12 col-sm-12 col-xs-12">
        <h2>Trucks</h2>
        <a href="/#/trucks/{{truck._id}}" ng-repeat="truck in trucks | limitTo : 10" class="col-md-3 col-sm-5 col-xs-12">
          <div class="trucksWrapper" data-id="{{truck._id}}"  style='background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{truck.truckImage}}) no-repeat no-repeat center; background-size: cover;'>
            <div class="truckInfo">
              <h2 class="truckTitle">{{truck.truckName}}</h2>
            </div>
          </div>
        </a>
        <a class="allTrucksLink" href="/#/trucks"><h4>All Trucks</h4></a>
      </div>
      </section>
    </div>
    <div class="panel-body">
        <section class="container-fluid trucksContainer2">
  <!-- <truck-list ng-repeat="truck in trucks" truck="truck"></truck-list>-->
        <div class="panel-default trucksRow2 row col-md-12 col-sm-12 col-xs-12">
          <h2>Truck Events</h2>
          <a href="/#/trucks/{{truck._id}}" class="col-md-3 col-sm-5 col-xs-12">
            <div class="trucksWrapper"  style='background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{truck.truckImage}}) no-repeat no-repeat center; background-size: cover;'>
              <div class="truckInfo">
                <h2 class="truckTitle">River Dogs Bash</h2>
                <h6>Sept. 4th</h6>
                <h6>6pm</h6>
              </div>
            </div>
          </a>
          <a href="/#/trucks/{{truck._id}}" class="col-md-3 col-sm-5 col-xs-12">
            <div class="trucksWrapper"  style='background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{truck.truckImage}}) no-repeat no-repeat center; background-size: cover;'>
              <div class="truckInfo">
                <h2 class="truckTitle">Party At the Point</h2>
                <h6>Sept. 15th</h6>
                <h6>6pm</h6>
              </div>
            </div>
          </a>
          <a href="/#/trucks/{{truck._id}}" class="col-md-3 col-sm-5 col-xs-12">
            <div class="trucksWrapper"  style='background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{truck.truckImage}}) no-repeat no-repeat center; background-size: cover;'>
              <div class="truckInfo">
                <h2 class="truckTitle">Battery Soccer Game</h2>
                <h6>Sept. 4th</h6>
                <h6>6pm</h6>
              </div>
            </div>
          </a>
          <a href="/#/trucks/{{truck._id}}" class="col-md-3 col-sm-5 col-xs-12">
            <div class="trucksWrapper"  style='background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{truck.truckImage}}) no-repeat no-repeat center; background-size: cover;'>
              <div class="truckInfo">
                <h2 class="truckTitle">BenefitFocus Luncheon</h2>
                <h6>Sept. 8th</h6>
                <h6>12pm</h6>
              </div>
            </div>
          </a>
          <a href="/#/trucks/{{truck._id}}" class="col-md-3 col-sm-5 col-xs-12">
            <div class="trucksWrapper"  style='background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{truck.truckImage}}) no-repeat no-repeat center; background-size: cover;'>
              <div class="truckInfo">
                <h2 class="truckTitle">Blackbaud Luncheon</h2>
                <h6>Sept. 4th</h6>
                <h6>12pm</h6>
              </div>
            </div>
          </a>
          <a href="/#/trucks/{{truck._id}}" class="col-md-3 col-sm-5 col-xs-12">
            <div class="trucksWrapper"  style='background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{truck.truckImage}}) no-repeat no-repeat center; background-size: cover;'>
              <div class="truckInfo">
                <h2 class="truckTitle">Chucktown Truck Down</h2>
                <h6>Sept. 14th</h6>
                <h6>6pm</h6>
              </div>
            </div>
          </a>
          <a href="/#/trucks/{{truck._id}}" class="col-md-3 col-sm-5 col-xs-12">
            <div class="trucksWrapper"  style='background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{truck.truckImage}}) no-repeat no-repeat center; background-size: cover;'>
              <div class="truckInfo">
                <h2 class="truckTitle">Truck Stop</h2>
                <h6>Sept. 4th</h6>
                <h6>6pm</h6>
              </div>
            </div>
          </a>
          <a href="/#/trucks/{{truck._id}}" class="col-md-3 col-sm-5 col-xs-12">
            <div class="trucksWrapper"  style='background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{truck.truckImage}}) no-repeat no-repeat center; background-size: cover;'>
              <div class="truckInfo">
                <h2 class="truckTitle">TruckRally</h2>
                <h6>Sept. 16th</h6>
                <h6>6pm</h6>
              </div>
            </div>
          </a>
          <a class="allTrucksLink" href="/#/trucks"><h4>All Events</h4></a>
        </div>
        </section>
      </div>
  </div>
</div>
