
<div class="container-fluid" >
      <div class="panel-body">
        <div class="mapPageWrapper">
          <div class="mapWrapper">
            <div class="map panel-default">
            <h2>Truck Map</h2>
            <img  src="Images/filler-map-image.gif" >
          </div>
        </div>
          <div class="mapInfoWrapper panel-default col-md-4">
        <div class="headerWrapper">
          <h2 class="activeHeader">Active Trucks</h2>
        </div>
        <div class="activeTruckWrapper">
          <accordion class="truckWrapper">
            <accordion-group is-open="status.open">
              <accordion-heading>
                Taco Shack    <i class=" truckTitle pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
              </accordion-heading>
              <ul>
                <li class="truckLocation"><h4 class="activeTruckHeaders">Location:</h4> 121 Elm St.</li>
                <li class="truckTimes"><h4 class="activeTruckHeaders">Time:</h4> 12pm-5pm</li>
                <li class="truckDescription"><h4 class="activeTruckHeaders">Description:</h4> Fresh tacos made from all local all organic ingredients</li>
                <li class="truckMessage">Come out and see us for Taco Thursday</li>
              </ul>
            </accordion-group>
          </accordion>
        </div>
      </div>
    </div>
  </div>
</div>
