<div class="container-fluid" >
  <div class="panel-body row">
    <div class="mapPageWrapper">
      <div class="map container panel-default col-md-7">
          <h2>Truck Map</h2>
          <ui-gmap-google-map center='map.center' zoom='map.zoom' scrollwheel=false class="col-md-12 col-sm-12 col-xs-12">
<!--               <ui-gmap-search-box template="searchbox.template" events="searchbox.events" parentdiv="searchbox.parentdiv"></ui-gmap-search-box>
-->              <ui-gmap-marker coords="truck.truckLocation.coords" idkey="truck._id" ng-repeat="truck in trucks" markerlabel="truck.truckName">
          </ui-gmap-google-map>
      </div>
      <div class="mapInfoWrapper panel-default container col-md-4">
        <div class="headerWrapper">
          <h2 class="activeHeader">Active Trucks</h2>
        </div>
        <div class="activeTruckWrapper" >
          <accordion class="truckWrapper" ng-repeat="truck in trucks">
            <accordion-group is-open="status.open">
              <accordion-heading>
                <img src="{{truck.truckImage}}"/>
                  {{truck.truckName}}<i class=" truckTitle pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
              </accordion-heading>
              <ul>
                <li class="truckMessage"> <h4>Tweet or Facebook status could go here!</h4> </li>
                <li class="truckLocation"><h4 class="activeTruckHeaders">Location:</h4>{{truck.truckLocation.address}}</li>
                <li class="truckTimes"><h4 class="activeTruckHeaders">Time:</h4> {{truck.truckTime}}</li>
                <li class="truckDescription"><h4 class="activeTruckHeaders">Description:</h4> {{truck.truckDescription}}</li>
              </ul>
            </accordion-group>
          </accordion>
        </div>
        <div class="headerWrapper">
          <h2 class="activeHeader">Inactive Trucks</h2>
        </div>
        <div class="activeTruckWrapper" >
          <accordion class="truckWrapper" ng-repeat="truck in inactiveTrucks">
            <accordion-group is-open="status.open">
              <accordion-heading>
                <img src="{{truck.truckImage}}"/>
                  {{truck.truckName}}<i class=" truckTitle pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
              </accordion-heading>
              <ul>
                <li class="truckMessage"> <h4>Tweet or Facebook status could go here!</h4> </li>
                <li class="truckDescription"><h4 class="activeTruckHeaders">Description:</h4> {{truck.truckDescription}}</li>
              </ul>
            </accordion-group>
          </accordion>
        </div>
      </div>
    </div>
  </div>
  <div class="row panel-body" ng-controller="TruckController">
    <div class="panel-default col-md-12">
      <section class="container">
        <div class="row">
          <div class="truckListWrapper" ng-repeat="truck in trucks" data-id="{{truck._id}}">
            <aside class="truckImage">
              <img src="{{truck.truckImage}}" class="truckImage">
            </aside>
            <aside class="truckInfo">
              <h1 class="truckTitle">{{truck.truckName}}</h1>
              <h4 class="description">{{truck.truckDescription}}</h4>
              <h4 class="truckLocation">{{truck.truckLocation.address}}</h4>
              <h4 class="truckTime">{{truck.truckTime}}</h4>
              <div class="truckReviews">
                <div class="reviewStars">{{review.truckReview}}</div>
                <div class="reviewTitle">{{review.reviewTitle}}</div>

              </div>
            </aside>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
