.navbar {
  border: 0;
  /* border-bottom: 2px solid $lightText; */
  box-shadow: 0 3px 5px rgba(0, 0, 0, .8);
}

.navbar-header {
  float: left;
  padding-left: 15px;
}

.navbar-nav {
  float: left;
  margin: 0;
}

.navbar-nav > li {
  float: left;
}


.navbar-default {
  background: $grey;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 0;
}

.navbar-default .navbar-brand {
  display: flex;
  align-items: center;
  color: #fff;
  background-color: $aqua;
  img {
    background: white;
    border-radius: 100%;
    border: 1px solid $lightText;
    width: 50px;
    height: 50px;
  }
}

.navbar-default .navbar-brand:hover {
  color: $aqua;
  background-color: $text;
}

.navbar-default .navbar-nav>li>a {
  color: $lightText;
  &:hover {
    color: $aqua;
  }
}

.navbar-brand {
  margin-left: -15px;
  transition: 0.25s all;
}
