.truckListWrapper {
  height: 200px;
  margin: 2px;
  border: 3px solid $lightText;
  overflow-wrap: break-word;
  display: flex;
  justify-content: center;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
  p {
    color: $lightText;

  }

  &:hover {
    border: 3px solid $aqua;
    transition: ease .25s;
  }
}

.truckListContainer {
  padding: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, .85), rgba(0, 0, 0, .85)), url('../Images/Food-Truck-Collage.jpg') fixed;

  .search-filter {
    width: 80%;
    font-size: 24px;
    margin: 1%;
    text-align: center;
  }
  a {
    overflow-wrap: break-word;
  }
}

.truckListRow {
  padding: 1%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 650px;
}
