
.map {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: $grey;
  padding: 2%;
  margin: 1%;
  border-radius: 5px;
  box-shadow: 0 8px 17px rgba(0, 0, 0, 0.8);

  img {
    width: 100%;
    height: 100%;
  }
}

.panel-default h2 {
  width: 100%;
  text-align: center;
  color: $text;
  border-bottom: 2px solid $text;
  font-size: 2.5vmax;
}


.mapInfoWrapper {
  border-radius: 5px;
  padding: 2%;
  margin: 1%;
  height: 100%;
  box-shadow: 0 8px 17px rgba(0, 0, 0, 0.8);
  .activeHeader {
    border-bottom: 2px solid $text;
    text-align: center;
  }
  background-color: $grey;
  .activeTruckWrapper {
    border-radius: 5px;
    padding: 2%;
    img {
      width: 30px;
      height: 30px;
    }
    .truckWrapper {
      width: 90%;
      i {
        margin: 5px;
      }
    }
  }
  ul {
    padding: 0;
    width: 100%;
  }
  ul li {
    list-style-type: none;
    text-align: center;
    color: $grey;
    padding: 0;
    margin: 0;
    .activeTruckHeaders {
      color: $grey;
    }
  }
}
