
.map {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: $grey;
  padding: 2%;
  margin: 1%;
  border-radius: 5px;
  /* box-shadow: 0 3px 7px rgba(0, 0, 0, 0.8); */

  img {
    width: 100%;
    height: 100%;
  }
}

.mapPageWrapper {
  display: flex;
justify-content: center;
}

.panel-default h2 {
  width: 100%;
  text-align: center;
  color: $aqua;
  border-bottom: 2px solid $lightText;
}


.mapInfoWrapper {
  border-radius: 5px;
  padding: 2%;
  margin: 1%;
  height: 520px;
  overflow: scroll;
  /* box-shadow: 0 3px 7px rgba(0, 0, 0, 0.8); */
  background-color: $grey;
  .activeTruckWrapper {
    border-radius: 5px;
    padding: 2%;
    img {
      width: 30px;
      height: 30px;
    }
    .truckWrapper {
      width: 90%;
      i {
        margin: 5px;
      }
    }
  }
  ul {
    padding: 0;
    width: 100%;
  }
  ul li {
    list-style-type: none;
    text-align: center;
    color: $grey;
    padding: 0;
    margin: 0;
    .activeTruckHeaders {
      color: $grey;
    }
  }
}
